@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}

@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format("woff2");
font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #F2F2F2;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.all-list {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-logo {
    position: absolute;
    left: 0;
}

.index-logo {
    display: block;
    margin: 0 auto;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    position: relative;
    padding-left: 150px;
}

.navigation-list {
    width: 340px;
    margin: 0 0 0 28px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.naviation-user {
    display: flex;
    align-items: center;
    max-width: 270px;
    margin: 0 0 0 auto;
    padding: 0;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}

.navigation-link-icon {
    min-width: 44px;
}

.want {
    background-color: #756157;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 34px;
}

.main-container {
    flex: 1 0 auto;
}

.first-screen {
    background-image: url(../images/photo/index-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.features {
    text-align: center;
    padding-top: 69px;
}

.features-title {
    margin-bottom: 90px;
}

.features-item-text {
    width: 400px;
    min-height: 384px;
    padding: 92px 85px 111px;
}

.features-blue .features-item-wrap {
    display: flex;
}

.features-gray {
    display: flex;
}

.features-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 62px;
}

.features-item-paragraph {
    color: #333333;
    margin: 0;
}

.blue {
    background-color: #82B3D3;
    color: #FFFFFF;
}

.blue .features-item-paragraph {
    color: #FFFFFF;
}

.gray {
    background-color: rgba(131, 179, 211, 0.12);
    padding: 103px 85px 121px;
}

.dark-gray {
    background-color: rgba(131, 179, 211, 0.2);
    padding: 103px 85px 121px;
}

.advantages-item {
    width: 400px;
}

.advantages {
    display: flex;
}

.advantages-text {
    padding: 182px 85px 81px;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-paragraph{
    color: #333333;
}

.advantages-item {
    background: rgba(131, 179, 211, 0.12);
}

.white {
    background-color: #FFFFFF;
}

.hotel-search {
    text-align: center;
    max-width: 592px;
    margin: 0 auto 96px;
    padding-top: 96px;

}

.hotel-search-title {
    margin-bottom: 20px;
    display: block;
}

.hotel-search-paragraph {
    margin-top: 0;
    margin-bottom: 54px;
}

.hotel-search-link {
    background-color: #756157;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 50px;
}

.distribution {
    background-image: url(../images/photo/background-1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
    padding-top: 96px;
    padding-bottom: 104px;
}

.distribution-title {
    display: block;
    margin-bottom: 20px;
}

.distribution-paragraph {
    color: inherit;
    width: 475px;
    margin: 0 auto 54px;
}

.distribution-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    background: #F2F2F2;
    border: none;
    padding: 15px 345px 16px 20px;
    font-size: 18px;
    border-radius: 4px 0 0 4px;
}

.button-distribution-email {
    background-color: #82B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: inherit;
    padding: 8px 50px;
    border-radius: 0 4px 4px 0;
}

.button-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.footer {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-number {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    width: 331px;
    text-decoration: none;
    color: inherit;
}

.html-academy {
    text-decoration: none;
    color: inherit;
}

.footer-list {
    width: 142px;
    margin: 0;
    padding: 0;
}

/* Отели */

.first-screen-hotel {
    background-image: url(../images/photo/backround-2.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: #82B3D3;
    padding-bottom: 73px;
}

.first-screen-title {
    padding-top: 35px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin-left: 70px;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs {
    display: flex;
    margin-left: 70px;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 40px;
}

.breadcrums-link {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
}

.hotels-filter {
    display: flex;
    align-items: center;
}

.hotels-filter-list {
    padding: 0;
}

.result-container-sort {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 57px;
}

.hotels-filter-sort {
    display: flex;
    align-items: center;
    margin-bottom: 47px;
}

.select-control-item {
    margin-left: 200px;
    width: 292px;
    padding: 14px 131px 20px;
    font-size: 18px;
}

.filter-sort-btns {
    margin-left: 70px;
    width: 160px;
    display: flex;
}

.filter-sort-btn {
    padding: 12px 14px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    margin-right: 8px;
}

.filter-sort-btn:last-child {
    margin-right: 0;
}

.hotels-filter-list {
    margin: 0;
}

.hotels-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}

.hotels-filter-item {
    line-height: 23px;
}

.hotels-filter-group {
    border: none;
    max-width: 150px;
    margin-left: 70px;
    padding: 0;
}

.hotels-filter-btn {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
}

.button {
    border: none;
    background-color: rgba(28, 28, 28, 0);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.submit-filters {
    background-color: #82B3D3;
    padding: 8px 50px;
    border-radius: 4px;
}

.reset {
    margin-top: 40px;
}

.filter-sort-btn {
    text-decoration: none;
    color: inherit;
}

.result {
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.result-wrap {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 20px;
}

.result-container {
    display: flex;
    flex-direction: column;
}

.result-type {
    display: flex;
    flex-direction: column;
}

.reserve {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.result-reserve-wrap {
    display: flex;
    justify-content: space-between;
}

.result-link {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 16px;
}

.more-btn {
    background-color: #756157;
    padding: 8px 26px;
}

.reserve-btn {
    background-color: #82B3D3;
    padding: 8px 20px;
}

.reserve-btn-green {
    background-color: #7DB54F;
    padding: 8px 18px;
}

.rating {
    background-color: #F2F2F2;
    border-radius: 4px;
    color: #000;
    padding: 8px 22px;
}

.rating-block {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.pagination {
    display: flex;
    margin-top: 80px;
    padding-left: 0;
    margin-bottom: 0;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding: 12px 24px;
    background-color: #82B3D3;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-link:last-child {
    padding: 12px;
}

.points {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding: 12px 24px;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000;
}

.distribution-hotels {
    background-image: none;
    color: #000;
    background-color: #FFFFFF;
}

.distribution-hotels .button-distribution-email {
    color: #FFFFFF;
}

.lovely-number {
    background-color: #7DB54F;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}
